/* White header with bottom border */
header{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

/* The area where my name and links go along the top*/
.header {
    background-color: #ffffff;
    width: 960px;
    overflow: auto;
    margin: 0 auto;
    position: static;
}

/* my name on the header */
.name {
    background-color: #4aaaa5;
    color: white;
    float: left;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    font-size: 18px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* The link text on the header*/
.header a {
    float: left;
    color: #777777;   
    text-decoration: none;
    font-size: 18px;
}

/* where the links above go on the header*/
.header-right {
    float: right;
    text-align: center;
    margin-top: 35px;
    height: 18px
}

/* Change color on hover of links */
.header a:hover {
    background-color: #ddd;
    color: black
}

/* the background */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    background-image: url(../images/qbkls.png);
    color: #777777
}

/* make it so the links dont turn purple */
a:link {
    text-decoration: none;
}

/* body of page */
div.clearfix {
    width: 960px;
    margin: 0 auto;
    padding: 0;  
    position: relative; 
    overflow: auto; 
    background-color: #ffffff;
    margin-top: 20px;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 70px;
}


/* getting everything in the body to line up */
.main {
    float: left; 
    margin-left:  20px;   
    margin-right: 20px;
}

/* About me color and size */
#intro {
    color: #4aaaa5;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

/* picture dimensions */
#bio-image {
    margin-right: 20px;
    width: 260px;
    height: 220px;
    margin-top: 15px;
    float: left;
    margin-left: 0;
   
}

/* link to swagelok website */
#work-link {
    color: #4aaaa5;
}

/* the divider on the body*/
hr {
    height: 3px;
    background-color: #cccccc;
    border-style: none;
  
}


/* the next three are to get the borders between the links */
#about {
    border-right: 1px solid #e4e0e0;
    padding: 0 22px 0 22px
}

#portfolio {
    border-right: 1px solid #e4e0e0;
    padding: 0 22px 0 22px;
}

#contact {
    padding: 0 22px 0 22px;
}

/* pretty self explainitory */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top: 4px solid #4aaaa5;
    height: 50px
}





/* Contact me */
/* message area formatting */
textarea {
    width: 920px;
    border-color: #cccccc;
    border-width: 1px;
    border-style: solid;
}

/* Input formatting */
input {
    width: 905px;
    margin: 5px 0 20px 0;
    padding: 10px;
    border-color: #cccccc;
    border-width: 1px;
    border-style: solid;
    color: #777777;
}

/* getting the form away from the break */
.form {
    margin-top: 25px;
}

/* button styling */
#button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    width: 110px;   
    height: 40px;
    margin-top: 10px;
    margin-bottom: 30px
}




/* Portfolio */
/* image properties */
img {
    height: 100%;
    width: 100%;
    margin: 0;
    float: left;
    padding: 0;
}

/* Where the pictures go */
.box-set {
    position: relative;
   margin-left: -20px;
  
}
    
.container {
        position: relative;
        text-align: center;
        margin: 20px;
        padding: 0;
        float: left;
        width: 280px;                  
}

.banner1 {
    color: white;
    position: absolute;
    background-color: #4aaaa5;
    width: 240px;
    top: 115px;
    line-height: 15px;
    padding: 20px;
    
}




/* Start of Media Queries */



@media screen and (max-width: 640px) {
    .header {
        width: 100%;
        align-content: center;
    }

    div.clearfix {
        width: 90%;
        margin: 20px auto 70px auto;
    }

    .header-right {
        width: 75%;
        padding: 0px;
        margin-top: 10px;
        margin-bottom: 16px;
    }

    .name {
        width: 100%;
        padding: 0;
        align-content: center;
    }

    .banner1 {
        width: 100%;
        top: 78%;
        line-height: 10px;
        padding: 20px 0 20px 0;
    }

    .container {
        padding: 0;
        width: 96%;
        height: auto;
        margin: 10px 0 20px 22px;
       
    }
   input {
        width: 497px;
        padding: 10px 0 10px 10px;
    }

    textarea {
        width: 503px;
    }

    #bio-image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .header {
        width: 100%
    }

    div.clearfix {
        width: 94%;
        margin: 20px 0 70px 20px;
    }

    .name {
        margin-left: 20px
    }

    .banner1 {
        width: 100%;
        top: 67%;
        line-height: 10px;
        padding: 20px 0 20px 0;
    }

    .container {
        padding: 0;
        width: 46%;
        height: auto;
        margin: 10px 0 20px 22px;
       
    }
   input {
        width: 520px;
        padding: 10px 0 10px 10px;
    }

    textarea {
        width: 526px;
    }
}

/* 980px */
@media screen and (min-width: 769px) and (max-width: 980px) {
    .header {
        width: 100%
    }

    
    div.clearfix {
        width: 580px;
        margin-left: 40px;   
    }

    .name {
        margin-left: 40px
    }

    .banner1 {
        width: 220px;
        top: 105px;
        line-height: 10px;
        padding: 20px;
    }

    .container {
        padding: 0;
        width: 260px;
        margin: 10px 0 20px 20px
    }
    
    input {
        width: 520px;
        padding: 10px 0 10px 10px;
    }

    textarea {
        width: 526px;
    }
}






